@{
    Layout = null;
}



    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>CRIE SUA CONTA</h3>
    </div>
    <div class="modal-body">
        <form action="/" method="post">
            <div>
                <input autofocus type="text" placeholder="Nome">
            </div>
            <div>
                <input autofocus type="text" placeholder="Idade">
            </div>
            <div>
                <input autofocus type="text" placeholder="Endereço">
            </div>
            <div>
                <button type="submit" class="btn btn-warning btn" style="height:40px">Salvar</button>
            </div>
        </form>
    </div>

