@{
    Layout = null;
}

<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 style="border-left:5px solid orange">Minhas Receitas</h3>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin:20px 0;">
                <div class="modal-body">
                    <div>
                        <table class="table table-hover">
                            <tr>
                                <td>Bolo de Chocolate</td>
                                <td><i title="Alterar" id="altReceita" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-edit"></i></td>
                                <td><i title="Remover" style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                            <tr>
                                <td>Bolo de Chocolate</td>
                                <td><i title="Alterar" id="altReceita" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-edit"></i></td>
                                <td><i title="Remover" style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                            <tr>
                                <td>Bolo de Chocolate</td>
                                <td><i title="Alterar" id="altReceita" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-edit"></i></td>
                                <td><i title="Remover" style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                            <tr>
                                <td>Bolo de Chocolate</td>
                                <td><i title="Alterar" id="altReceita" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-edit"></i></td>
                                <td><i title="Remover" style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                            <tr>
                                <td>Bolo de Chocolate</td>
                                <td><i title="Alterar" id="altReceita" style="cursor:pointer; color:blue;" class="glyphicon glyphicon-edit"></i></td>
                                <td><i title="Remover" style="cursor:pointer; color:red;" class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>